{% extends 'base.html' %}
{% set active_page='viewbook' %}
{% block title %}View book{% endblock %}
{% block body %}
<script>

</script>
	{% if message %}
		<h3>{{ message }}</h3>
	{% endif %}
	{% if book %}
			<div class="row header">
               <div class="col-12 header1">
				   Details and reviews for a book
			   </div>
			</div>
			<br/>
			<div class="row">
			    <div class="col-3 header">Title</div>
			    <div class="col-3 info">{{ book.title }}</div>
		    </div>
			<div class="row">
			    <div class="col-3 header">Author</div>
			    <div class="col-3 info">{{ book.author }}</div>
		    </div>
			<div class="row">
			    <div class="col-3 header">Published in</div>
			    <div class="col-3 info">{{ book.year }}</div>
		    </div>
			<div class="row">
			    <div class="col-3 header">ISBN</div>
			    <div class="col-3 info">{{ book.isbn }}</div>
		    </div>

		    <br/>
			{% if bookread_reviews %}
				<div class="row alert alert-success">
				This book was reviewed on Bookread&nbsp;
				<span class="bold">{{ bookread_reviews.reviews_count }}</span>&nbsp;times
				 and has an average rating of&nbsp;
				 <span class="bold">{{ bookread_reviews.average_rating }}</span>&nbsp;/ 5
				</div>
			{% endif %}
			{% if reviews %}
                <table class="table table-alternate">
	                <tr>
	                    <th>#</th>
	                    <th>Review writer</th>
	                    <th>Review</th>
	                    <th>Rating</th>
	                </tr>
					{% for review in reviews %}
						<tr>
							<td>{{ loop.index }}</td>						    
							<td>{{ review.name }}</td>
						    <td><div>{% autoescape false %}{{ review.review|replace("\r\n",'<br/>') }}{% endautoescape %}</div></td>
						    <td>{{ review.rating }} / 5</td>
						</tr>
					{% endfor %}
                </table>
            {% else %}
				<br/>No reviews were found<br/>
            {% endif %}
            <br>
            {% if not already_reviewed %}
            <div id="review">
				<form action="{{ url_for('add_review',book_id=book.id) }}" method="post">
                <div class="form-group">
                    Rate this book
                    <select name="rating">
                       {% for r in ratings %}
                       <option value="{{ r }}">{{ r }}</option>
                       {% endfor %}
                    </select>
                </div>
				Input your review for this book
                <div class="form-group">
					<textarea name="review" rows="10" cols="80" placeholder="Input your review here">
					</textarea>
				</div>
                <div class="form-group">
                    <button class='btn btn-primary' >Submit review</button>
                </div>
            </div>
            {% endif %}
	{% else %}
		No book to display !!!<br/>
	{% endif %}
{% endblock %}
